<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/scrolling-nav.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Family</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Family</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>What is family for?</h1>
        <p class="lead">A page that is dedicated to bring you answers as to why you put up with your family.</p>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="title">About this page</h2>
            <p class="lead">This is a great page where you can visit to find reasons why not to murder your family members. Below are just a couple of reasons why you should not bodily or in anyother way harm any of your family members. The reasons being:</p>
            <ol>
              <li>They are your family</li>
              <li>It is better to lead by example. When you start to harm others, what does that say about your character? </li>
              <li>They will give you life experience on how to deal and work with individual who you do not necessarily get along with. You cannot murder your siblings just like you cannot murder your colleague(s). </li>
              <li>Be honest with yourself, if you hurt them or got rid of them in some way, you would feel bad and miss them (not necessarily in that order with a few things added in betwewn). </li>
              <li>The most important reason is the fact that they are your family. You are supposed to love them, cherish them, and protect them because life is too short otherwise. </li>
            </ol>
            <p>There may be more reasons to do than not to do, but all you need is one good reason not to. If you need a breather, find some place quiet to relax and listen to your feel good song. If you dont have one, you can borrow mine until you find one of your own. <a href="https://www.youtube.com/watch?v=ru0K8uYEZWw">Justin Timberlake - I Got This Feeling</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="bg-light">
      <div class="container">
          <h2 class="title">Family</h2>
        <div class="row">
          <div class="col-md-3 col-lg-4">
            <a class="family-item d-block mx-auto">
              <div class="family-item-caption d-flex position-absolute h-100 w-100">
              </div>
              <img class="img-fluid" src="../static/img/brothers-457237_640.jpg" alt="Family Bond">
            </a>
          </div>
          <div class="col-md-3 col-lg-4">
            <a class="family-item d-block mx-auto">
              <div class="family-item-caption d-flex position-absolute h-100 w-100">
              </div>
              <img class="img-fluid" src="../static/img/baby-2717347_640.jpg" alt="Family Love">
            </a>
          </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="title">Contact us</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../static/js/scrolling-nav.js"></script>

  </body>

</html>
